/*  Credit to Bruno Rodrigues:
    https://codepen.io/itbruno/pen/KwarLp/
*/
#timeline .timeline-item:after, header:after, #timeline .timeline-item:before, header:before {
  content: "";
  display: block;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  background: #f9f9f9;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, tahoma, verdana;
  line-height: 20px;
  font-size: 14px;
  color: #726f77;
}




img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: "Dosis", arial, tahoma, verdana;
  font-weight: 500;
  
}


.intro-content {
    max-width: 65ch;
    margin: 0 15%;
} 


#timeline {
  width: 1000px;
  max-width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #0070f5;
  left: 10%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-items: flex-start;
}
#timeline .timeline-item .timeline-icon {
  background: #0070f5;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 10%;
  overflow: hidden;
  margin-left: -30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  line-height: 1.5;

  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#timeline .timeline-item .timeline-icon svg {
  position: relative;
  top: 14px;
  left: 14px;
}
#timeline .timeline-item .timeline-help,
#timeline .timeline-item .timeline-content {
    padding: 20px;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content {
  width: 85%;
  background: #fff;
 
  margin-left: 15%;
  flex: 2;
  min-width: 300px;
}

#timeline .timeline-item .timeline-help {
    flex: 1;
    margin-left: 20px;
    background-color: #fff;
    min-width: 200px;
}
#timeline .timeline-item .timeline-help h4 {
    margin: 3em 0 .5em;
}
#timeline .timeline-item .timeline-help iframe{
    width: 100%;
    height: auto;   
    aspect-ratio: 7 / 4;
}
#timeline .timeline-item .timeline-content h2 {
    position: relative;
  padding: 15px;
  background: #0070f5;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content:before {
  content: "";
  position: absolute;
  right: 85%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 0;
  border-right: 7px solid #0070f5;
}


.btn {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid #0070f5;
  color: #0070f5;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-box-shadow: 2px 2px 0 #0070f5;
  -moz-box-shadow: 2px 2px 0 #0070f5;
  -ms-box-shadow: 2px 2px 0 #0070f5;
  box-shadow: 2px 2px 0 #0070f5;
}
.btn:hover:not(.complete-btn) {
  box-shadow: none;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 transparent;
  -moz-box-shadow: 2px 2px 0 transparent;
  -ms-box-shadow: 2px 2px 0 transparent;
  box-shadow: 2px 2px 0 transparent;
}

.done-btn,
.done-btn:hover {
    border-color: #016b46;
  color: #016b46;
-webkit-box-shadow: 2px 2px 0 #016b46;
  -moz-box-shadow: 2px 2px 0 #016b46;
  -ms-box-shadow: 2px 2px 0 #016b46;
  box-shadow: 2px 2px 0 #016b46;
  margin-right: 20px;
    
}

.complete-btn,
.complete-btn:hover {
    border-color: #727272;
    color: #727272;
  -webkit-box-shadow: 2px 2px 0 #727272;
    -moz-box-shadow: 2px 2px 0 #727272;
    -ms-box-shadow: 2px 2px 0 #727272;
    box-shadow: 2px 2px 0 #727272;
    margin-right: 20px;
}

/* inactive states */

#timeline .closed .timeline-content-inner,
#timeline .closed .timeline-help  {
    display: none;
}
#timeline .closed .timeline-content{
    padding-bottom: 0;
}
#timeline .timeline-item.closed  h2,
#timeline .timeline-item.closed .timeline-icon{
    background: #ddd;
}
#timeline .timeline-item.closed .timeline-content:before {
    border-right-color: #ddd
} 

/* Completed states */
#timeline .completed-closed .timeline-content-inner,
#timeline .completed-closed .timeline-help  {
    display: none;
}
#timeline .completed-closed .timeline-content {
    padding-bottom: 0;
}



#timeline .timeline-item.done  h2,
#timeline .timeline-item.done .timeline-icon{
    background: rgb(0, 118, 31)
}
#timeline .timeline-item.done .timeline-content:before {
    border-right-color: rgb(0, 118, 31)
} 

#timeline .timeline-item.done  h2:after {
    content: " ";
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}


#timeline .completed-closed .timeline-content h2:after {
    content: "⌃";
    transform: rotate(180deg);
    top: 10px;
} 


@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item {
      flex-wrap: wrap;
  }
  #timeline .timeline-item .timeline-content,
  #timeline .timeline-item .timeline-help {
    width: 90%;
    margin-left: 10%;
  }
  #timeline .timeline-item .timeline-help {
      margin-top: 20px;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #0070f5;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}

/* Modal - might want to extract styles to elsewhere */
/* trying to use unique names so as not to conflict with other modals */
.mymodal-overlay {
    display: none;
    position: fixed;
    background: #0070f5;
    min-height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
}
.mymodal-overlay.show {
    display: flex;
}
.mymodal-overlay .mymodal-inner {
    width: 80ch;
    height: calc(100vh - 40px);
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.mymodal-overlay .mymodal-content {
    overflow: scroll;
    height: calc(100vh - 80px)
}
.mymodal-overlay .mymodal-content img {
    max-width: 70%;
    margin: 10px auto;
}
.mymodal-overlay .mymodal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
} 